@import '../../assets/base/base.scss';

.formulario {
  width: 900px;
  margin: 128px auto;
  text-align: center;
  h2 {
    color: #372521;
    font-family: Ubuntu;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &::after{
        @include Aftter();
    }
  }
}
