.selecionarLista {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
  gap: 8px;
  label {
    color: #fff;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  select {
    display: flex;
    width: 105%;
    padding: 20px;
    align-items: flex-start;
    border: none;
    gap: 10px;
    color: #fff;
    background: #994412;
    &::placeholder {
      color: #fff;
    }
  }
  span{
    font-size: 10px;
    font-family: ubunto;
    margin-left: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #fff;
  }
}
